body {
  background-color: rgb(252, 221, 226);
}

.ms {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 10px dotted darkolivegreen ;
}

.md1 {
  font-family: 'Times New Roman', Times, serif;
  border: 11px solid darkslategrey;
}

.md2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 12px dashed darkgreen;
}

article h4 {
  color: navy;
}
 article {
  margin: 32px;
  padding:38px;
 }
